$whiteColor: #ffffff;
$whiteTwoColor: #eaeaea;
$whiteThreeColor: #dbdbdb;
$whiteFourColor: #f8f8f8;
$whiteFiveColor: #dcdcdc;
$whiteSixColor: #e8e8e8;
$whiteSevenColor: #f9f9f9;
$whiteEightColor: #f4f4f4;
$whiteNineColor: #f1f1f1;
$whiteTenColor: #d8d8d8;
$whiteElevenColor: #fafafa;

$greyishColor: #b9b9b9;
$greyishTwoColor: #acacac;
$greyishBrownColor: #4f4f4f;
$greyishBrownTwoColor: #3d3d3d;
$paleGreyColor: #edf7ef;
$warmGreyColor: #8a8a8a;
$brownishGreyColor: #6b6b6b;
$brownishGreyTwoColor: #6a6a6a;
$coolGreyColor: #8a9ba5;
$darkGreyColor: #222324;

$softGreenColor: #81c891;
$softGreenTwoColor: #7bca84;
$algaeColor: #4bb063;
$algaeTwoColor: #a1d3ad;
$greenishColor: #3f9554;
$lightForestGreenTwo: #4d955f;

$redOrangeColor: #ff3c00;
$reddishOrangeColor: #ff521d;
$tomatoRedColor: #d93300;
$rustyRedColor: #bd340a;

$butterscotchColor: #f6b042;
$dullOrangeColor: #e1a545;

$blackThreeColor: #4a4a4a;
$blackTwoColor: #393939;
$blackColor: #000000;

$silverColor: #d6d9e1;
$silver50Color: rgba(210, 213, 222, 0.5);

$veryLightPinkColor: #c3c3c3;
$veryLightPinkTwoColor: #f2f2f2;

$darkSkyBlueColor: #2380e3;
$softSkyBlueColor: #98e3ff;
$dodgerBlueColor: #388ef8;
$dodgerBlueTwoColor: #4193f8;

$defaultLinkColor: #01a5e2;
