@import "styles/colors.scss";
@import "styles/common.scss";

.detailView {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $darkGreyColor;
  color: $whiteColor;
  flex-direction: row;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.chatContainer {
  width: 50%;
  height: 100%;
}

.shopLogo {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    height: 300px;
    width: 300px;
  }
}

.detailsData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    padding: 20px;
    font-size: larger;
    text-align: center;
    span.label {
      font-size: x-small;
    }
  }
}

.backLink {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}
